iframe {
	margin-top: -10%;
	padding-right: 8%;
	padding-top: 3%;
}

.row-icon {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 35%;
	right: 35%;
	text-align: center;
}

.navbar {
	margin-left: 20px;
	margin-right: 20px;
}

.row-bottom {
	background: none;
	text-align: center;
	margin-top: 3%;
}
.col-icon {
	width: 35px;
	height: 35px;
	align-items: center;
}

.col-bottom {
	text-align: center;
	color: #fff;
}

.typed {
	text-align: center;
}

a {
	color: #fff;
}

a:hover {
	color: #49ae5f;
}

@media screen and (max-width: 768px) {
	.row-bottom {
		background: none;
		text-align: center;
	}
	.row-icon {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 10%;
		right: 10%;
	}
	div {
		background-position: center;
	}
	iframe {
		margin-left: -6%;
		margin-top: -20%;
	}
	.col-icon {
		width: 30px;
		height: 30px;
	}
	h2 {
		padding-top: 8%;
	}
	.navbar {
		margin-left: -10px;
		margin-right: -10px;
	}
}
